/* A Free Design by Bryant Smith (bryantsmith.com) */
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background: #FFFFFF;
}
*
{
  margin: 0 auto 0 auto;
 
  /* text-align: center; */}
 
 
 html, body {
text-align: left;
}
p {text-align: left;}


h1
{
font-size:30px;
font-weight:normal;
padding-top: 50px;
background-image: url(https://www.iconpln.co.id/themes/icon2/images/logoIcon.png);
background-repeat:no-repeat;
text-align: center;
font-family: Helvetica;
}

h2
{
font-size:26px;
font-weight:normal;
padding-left:15px;
padding-top:35px;
text-align: center;
}

h3
{
font-size:13px;
font-weight:normal;
padding-left:15px;
padding-bottom:10px;
text-align: center;
}

h4
{
font-weight:normal;
padding-top: 15%;
background-image: url(banner.jpg);
background-repeat:no-repeat;
text-align: center;
font-family: Helvetica;
}

#main
{
width:auto;
height:auto;
padding-left: 2%;
padding-right: 2%;
padding-bottom:20px;
}


#header
{
color:#ffffff;
clear:both;
width:auto;
height:25px;
background-image:url(icon_header.png);
background-repeat:no-repeat;
text-align: center;
line-height:25px;
}

#header a, #header a:visited, #header a:hover
{
font-size:12px;
font-weight:bold;
color:#FFFFFF;
padding-left:12px;
padding-right:5px;
text-decoration:none;
line-height:25px;
}

#footer
{
color:#ffffff;
font-size:10px;
clear:both;
width:auto;
height:25px;
background-image:url(icon_footer.png);
background-repeat:no-repeat;
text-align:center;
line-height:25px;
font-weight:normal;
margin-top: 10px;
}

#footer a, #footer a:visited, #footer a:hover
{
font-size:10px;
color:#FFFFFF;
text-decoration:none;
line-height:25px;
}

#header a:hover { 
color:#F2EAEA;
border:none;
}

#contentColumn
{
float:left;
width:98px;
}

#navColumn
{
float:left;
width:200px;
padding-top:50px;
}
#contentColumn p
{
text-align:left;
line-height:25px;
letter-spacing:-1px;
margin:6px;
}

.divider
{
background-image:url(divider.jpg);
width: 640px;
height:3px;
margin-bottom:10px;

}

.subHeader
{
margin-top:20px;
margin-bottom:4px;
width:150px;
height:20px;
background-image:url(../SimpleFactorial/right_header.png);
text-align:center;
}

.subHeader h3
{
font-size:13px;
line-height:20px;
color:#FFFFFF;
text-align:center;
}

ul,  li
{
text-align:center;
padding:3px;
list-style-image:url(link_image.png);
}

a, a:visited
{
text-decoration:none;
color:#9B1313;
}

a:hover
{
color:#9B1313;
border-bottom:dashed 1px #DD6A6A;
}